.sidebar {
  background: #fff;
  border-right: 2px solid #ffe066;
  box-shadow: 2px 0 8px 0 #ffe06633;
}

.sectionTitle {
  color: #b37b0d;
  font-weight: bold;
}

.activeLink {
  background: #fffbe6;
  border-radius: 6px;
}
